<div class="flight-type-selector">
  <input onchange={{action 'updateFlightType' value="target.value"}} type="radio" class="flight-count" name="flightCountSelector"
    value="0" id="tab1" checked />
  <label for="tab1">One way</label>
  <input onchange={{action 'updateFlightType' value="target.value"}} type="radio" class="flight-count" name="flightCountSelector"
    value="1" id="tab2" />
  <label for="tab2">Round trip</label>
</div>

{{#if sameLocationError}}
  <button class="search-flight error" disabled=true>
    Oops! Source and destination can't be same.
  </button>
{{/if}}

{{#power-select options=citiesList
   placeholder="Where from?"
     allowClear=true
    selected=selectedSource onchange=(action "chooseSourceCity") as |name|}}
  {{name}}
{{/power-select}}

{{#power-select options=citiesList
   placeholder="Where to?"
     allowClear=true
    selected=selectedDestination onchange=(action "chooseDestinationCity") as |name|}}
  {{name}}
{{/power-select}}

<div class="date-picker-container">
  <span class="form-icons">{{fa-icon 'plane-departure'}}</span>
  Departure Date
  {{date-picker placeholder="Select travel date"
    minDate=currentDate
    buttonDateFormat='ll'
    action=(action 'updateDepartureDate')}}
</div>

{{#if isBothWayFlight}}
  <div class="date-picker-container">
    <span class="form-icons">{{fa-icon 'plane-arrival'}}</span>
    Return Date
    {{date-picker placeholder="Select travel date"
      minDate=departureDate
      buttonDateFormat='ll'
      action=(action 'updateReturnDate')}}
  </div>
{{/if}}

<button class="search-flight" disabled={{isDisabled}} onclick={{action 'searchAction'}}>
  Search flights
</button>

{{yield}}